:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: var(--m);
}

.search-input{
    font-size: var(--m);
    text-align: center;
    color: var(--color-dark);
    background-color: var(--color-medium-light);
    border: none;
    padding: var(--s) var(--m);
    margin: var(--xs) var(--s);
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    &:focus {
        transform: translateX(-5%);
        outline: none;
        width: 100%;
        background-color: var(--color-light);
    }

    &::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4);
    }
}