.u-margin-bottom-xl { margin-bottom: var(--space-xl) !important; }
.u-margin-top-xl    { margin-top:    var(--space-xl) !important; }
.u-margin-bottom-l  { margin-bottom: var(--space-l)  !important; }
.u-margin-top-l     { margin-top:    var(--space-l)  !important; }
.u-margin-bottom-m  { margin-bottom: var(--space-m)  !important; }
.u-margin-top-m     { margin-top:    var(--space-m)  !important; }
.u-margin-bottom-s  { margin-bottom: var(--space-s)  !important; }
.u-margin-top-s     { margin-top:    var(--space-s)  !important; }
.u-margin-bottom-xs  { margin-bottom: var(--space-xs)  !important; }
.u-margin-top-xs     { margin-top:    var(--space-xs)  !important; }
.u-margin-bottom-xxs  { margin-bottom: var(--space-xxs)  !important; }
.u-margin-top-xxs     { margin-top:    var(--space-xxs)  !important; }
.u-margin-right-xl  { margin-right:  var(--space-xl) !important; }
.u-margin-left-xl   { margin-left:   var(--space-xl) !important; }
.u-margin-right-l   { margin-right:  var(--space-l)  !important; }
.u-margin-left-l    { margin-left:   var(--space-l)  !important; }
.u-margin-right-m   { margin-right:  var(--space-m)  !important; }
.u-margin-left-m    { margin-left:   var(--space-m)  !important; }
.u-margin-right-s   { margin-right:  var(--space-s)  !important; }
.u-margin-left-s    { margin-left:   var(--space-s)  !important; }
.u-margin-right-xs   { margin-right:  var(--space-xs)  !important; }
.u-margin-left-xs    { margin-left:   var(--space-xs)  !important; }
.u-margin-right-xxs   { margin-right:  var(--space-xxs)  !important; }
.u-margin-left-xxs    { margin-left:   var(--space-xxs)  !important; }

